# Build logs
*.log

# Temp files
temp_*.json
tmp_*.json

# OS files
Thumbs.db
.DS_Store

.vscode/
Frontend/.vscode/
Backend/.vscode/
Backend/facial_recognition/.db
Backend/facial_recognition/encodings.pkl